<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <!-- 启动Spring的注解配置， 支持@Required, @Autowired, @PostConstruct等 -->
    <context:annotation-config/>
    <context:component-scan base-package="com.yakesoft.tff.controller"/>

    <!-- 启动Spring MVC的注解配置 -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <ref bean="mappingJackson2HttpMessageConverter"/>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!--使用 Jackson 的 ObjectMapper 读取/编写 JSON 数据-->
    <bean name="mappingJackson2HttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- webroot到一指定文件夹文件路径 -->
        <property name="prefix" value="WEB-INF/jsp/"/>
        <!-- 视图名称后缀  -->
        <property name="suffix" value=".jsp"/>
    </bean>
    <!-- 启用默认处理请求的servlet -->
    <!--<mvc:default-servlet-handler/>-->
</beans>